@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Cal+Sans&family=Lobster&display=swap');
@import "tailwindcss";

html.dark {
  scrollbar-color: #ffffff #202020;
}


@theme {
  --font-lobster: "Lobster", sans-serif; 
  --font-adlam: "ADLaM Display", sans-serif; 
  --font-calSans: "Cal Sans", sans-serif;
}


.navbarBtn {
    @apply relative 
    no-underline 
    text-black 
    font-adlam
    mx-10 
    after:content-[''] 
    after:absolute
    after:left-0                 
    after:bottom-[-2px]
    after:h-[3px] 
    after:w-full 
    after:scale-x-0 
    after:bg-black
    dark:after:bg-white 
    after:transition-transform 
    after:duration-300 
    after:ease-in-out 
    hover:after:scale-x-100 
    after:origin-left
}

@keyframes fade-up {
  0% {
    transform: translateY(100px);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-down {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(100px);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(-100px);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }                                     
  50% { 
    transform: translateY(5px);
  }
}

.fade-up {
  animation: fade-up 1s ease-out forwards;
}

.fade-down {
  animation: fade-down 1s ease-out forwards;
}

.fade-left {
  animation: fade-left 1s ease-out forwards;
}

.fade-right {
  animation: fade-right 1s ease-out forwards;
}

.animate-float {
  animation: float 2s ease-in-out infinite; 
}

.outlined-text {
  color: transparent;
  -webkit-text-stroke: 1px black; 
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-*: initial;
  --breakpoint-mini: 0;
  --breakpoint-xs: 340px;
  --breakpoint-sm: 635px;
  --breakpoint-md: 774px;
  --breakpoint-ml: 887px;
  --breakpoint-ml: 843px;
  --breakpoint-lg: 975px;
  --breakpoint-xl: 1400px;
}

@layer base {
  * {
    @apply transition-colors duration-300;
  }

  html {
    @apply dark:text-white dark:border-white;
  }

  a {
    @apply dark:text-white
  }


}
