@import "tailwindcss";

.navbarBtn {
    @apply relative 
    no-underline 
    text-black 
    mx-10 
    after:content-[''] 
    after:absolute
    after:left-0                    /* Underline of nav bar buttons on hover */
    after:bottom-[-2px]
    after:h-[3px] 
    after:w-full 
    after:scale-x-0 
    after:bg-black 
    after:transition-transform 
    after:duration-300 
    after:ease-in-out 
    hover:after:scale-x-100 
    after:origin-left
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }                                     /* Animation */
  50% { 
    transform: translateY(5px);
  }
}


.animate-float {
  animation: float 2s ease-in-out infinite; /* Define animation type and time */
}

.outlined-text {
  color: transparent;
  -webkit-text-stroke: 1px black; /* Just show border */
}


.skills {
  @apply relative overflow-hidden transition-all duration-500;
}

.skills::before {
  content: '';
  @apply absolute w-0 h-0 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-blue-200 rounded-full transition-all duration-500 z-0;
}

.skills:hover::before {
  @apply w-[300px] h-[300px];
}


@theme {
  --breakpoint-*: initial;
  --breakpoint-mini: 0;
  --breakpoint-xs: 340px;
  --breakpoint-sm: 635px;
  --breakpoint-md: 774px;
  --breakpoint-ml: 843px;
  --breakpoint-lg: 975px;
  --breakpoint-xl: 1400px;
}